body{
    background-color:#141414;
    color: #ffffff;
}
::-webkit-scrollbar{
    display: none;
}    
.movie-app{
    overflow-x: auto;  
    flex-wrap: nowrap;
    color: #fff;
}
.card:hover{
    box-shadow: 0 4px 12px 0 #fff ;   
    cursor: pointer;
    
}

.link-btn{
    position: relative;
    margin-top: 10px;
}
a:hover{
   color: white!important;
}
a{
    text-decoration: none;
    color: white;
  
}
